body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}
header {
  display: flex;
}
ul {
  list-style-type: none;
}
img {
  height: 100px;
  width: 100px;
  display: block;
}

.product-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products {
  flex: calc(20% - 15px);
  margin-bottom: 20px;
}

.hidden {
  display: none;
  background-color: coral;
  border: solid 2px black;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
}
